{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col">

            <!-- Tags -->
            <div class="all-tags-list">All Tags:
                {% for tag in tags %}
                    <a href="{% url 'tagged' tag.slug %}" class="badge mr-1 badge badge-success">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            
            <!-- Tags-sorting-form -->
            <form method='POST'>
                {% csrf_token %}
                <div id="div_requested_tag" class="control-group mb-1">
                    <div class="controls"> 
                        <input type='text' name="requested_tag" class="form-control" required id="requested_tag" placeholder="Search for posts with tag...">
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Search">
            </form>
        </div>
    </div>
{% endblock content %}