{% extends "posts/base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">

            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Post 1</li>
                <li class="list-group-item list-group-item-light">Post 2</li>
                <li class="list-group-item list-group-item-light">Post 3</li>
            </ul>
    </div>

    <div class="col-sm">

      /map placeholder/

    </div>
  </div>
</div>

{% endblock %}